#threads-overview-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#threads-overview-settings {
  margin-top: 25px;
  width: 90%;
  display: flex;
  align-items: center;
}
#regexp-filters label {
  margin-left: 3em;
}

#matching-summary {
  width: 90%;
  height: 20px;
}

#thread-overview-legend {
  height: 32px;
  width: 90%;
  table-layout: fixed;
  text-align: center;
}

.threads-overview-table {
  width: 100%;
  padding-left: 4px;
  margin: 10px 0 4px;
  border-spacing: 2px;
  table-layout: fixed;
}
.threads-overview-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #6B778C;
  cursor: pointer;
}
td.name {
  font-weight: 700;
  cursor: default;
}
td.empty {
  background: #FFF;
  cursor: default;
}
td.runnable {
  background: #ABF5D1;
}
td.blocked {
  background: #FFBDAD;
}
td.waiting {
  background: #EAE6FF;
}
td.timed-waiting {
  background: #FFFAE6;
}
td.unknown {
  background: #FFF;
}
td.matching {
  background: #B3D4FF;
}

#threads-overview-details {
  background: #fff;
  height: 120px;
  width: 100%;
  bottom: 0;
  position: fixed;
}
