#heading {
  width: 80%;
  margin: auto;
  padding-top: 22px;
}

#threads-overview-settings {
  min-height: 83px;
  line-height: 36px;
}

#regexp-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin-left: 4em;
  line-height: 42px;
}

#regexp-filters label {
  margin-right: 2em;
}

#matching-summary {
  min-height: 24px;
}

#thread-overview-legend {
  height: 32px;
  padding: 0;
  text-align: center;
  table-layout: fixed;
}

table {
  position: relative;
  width: 100%;
  padding: 20px 4px 4px;
  table-layout: fixed;
  border-spacing: 0;
}

th,
td {
  overflow: hidden;
  color: var(--color-n600);
  white-space: nowrap;
  text-overflow: ellipsis;
}

td button {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-n0);
  border-radius: 3px;
}

td.name {
  font-weight: 700;
}

/* Tooltips on hover */
td span,
th span {
  position: absolute;
  z-index: 100;
  display: none;
  padding: 2px 7px;
  color: var(--color-n0);
  -webkit-text-fill-color: var(--color-n0);
  font-weight: bold;
  background-color: var(--color-n800);
  border-radius: 3px;
}

td:hover span,
th:hover span {
  display: block;
}
