.threads-overview-table {
  position: relative;
  min-width: 100%;
  padding: 20px 4px 4px;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
}

.threads-overview-table th,
.threads-overview-table td {
  padding: 2px;
  overflow: hidden;
  color: var(--ds-text-subtle);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.threads-overview-table td {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

td.name {
  font-weight: var(--ds-font-weight-bold);
}

#heading {
  width: 80%;
  margin: auto;
}

#matching-summary {
  min-height: 24px;
}

#thread-overview-legend {
  height: 32px;
  margin-bottom: 16px;
  padding: 0;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
}

#thread-overview-legend th,
#thread-overview-legend td {
  padding: 1px;
}
