.thread-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.details-header {
  padding-bottom: var(--ds-space-200);
  background-color: var(--ds-background-accent-gray-subtlest);
}

.details-header h3 {
  padding: var(--ds-space-200);
}

.details-header div {
  padding: 0 var(--ds-space-200);
}

.details-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details-body div {
  padding: var(--ds-space-100) var(--ds-space-200);
}

.stacktrace-container h5 {
  padding: var(--ds-space-100) var(--ds-space-200);
}

.thread-state {
  display: inline-block;
  margin: 0;
  padding: var(--ds-space-050) var(--ds-space-100);
  color: var(--ds-text-subtle);
  font-weight: var(--ds-font-weight-bold);
  font-size: var(--ds-font-body);
  line-height: 99%;
  text-align: center;
  border-radius: var(--ds-radius-small, 3px);
  -webkit-text-fill-color: var(--ds-text-subtle);
}

.unknown {
  cursor: default;
}

.runnable {
  color: var(--ds-text-accent-lime);
  background: var(--ds-background-accent-lime-subtlest);
  -webkit-text-fill-color: var(--ds-text-accent-lime);
  border: 1px solid var(--ds-border-inverse);
}

.runnable-matching {
  color: var(--ds-text-accent-lime-bolder);
  background: var(--ds-background-accent-lime-subtle);
  -webkit-text-fill-color: var(--ds-text-accent-lime-bolder);
  border: 1px solid var(--ds-border-accent-lime);
}

.blocked {
  color: var(--ds-text-accent-red);
  background: var(--ds-background-accent-red-subtlest);
  -webkit-text-fill-color: var(--ds-text-accent-red);
  border: 1px solid var(--ds-border-inverse);
}

.blocked-matching {
  color: var(--ds-text-accent-red-bolder);
  background: var(--ds-background-accent-red-subtle);
  -webkit-text-fill-color: var(--ds-text-accent-red-bolder);
  border: 1px solid var(--ds-border-accent-red);
}

.waiting {
  color: var(--ds-text-accent-purple);
  background: var(--ds-background-accent-purple-subtlest);
  -webkit-text-fill-color: var(--ds-text-accent-purple);
  border: 1px solid var(--ds-border-inverse);
}

.waiting-matching {
  color: var(--ds-text-accent-purple-bolder);
  background: var(--ds-background-accent-purple-subtle);
  -webkit-text-fill-color: var(--ds-text-accent-purple-bolder);
  border: 1px solid var(--ds-border-accent-purple);
}

.timed-waiting {
  color: var(--ds-text-accent-yellow);
  background: var(--ds-background-accent-yellow-subtlest);
  -webkit-text-fill-color: var(--ds-text-accent-yellow);
  border: 1px solid var(--ds-border-inverse);
}

.timed-waiting-matching {
  color: var(--ds-text-accent-yellow-bolder);
  background: var(--ds-background-accent-yellow-subtle);
  -webkit-text-fill-color: var(--ds-text-accent-yellow-bolder);
  border: 1px solid var(--ds-border-accent-yellow);
}

.high {
  color: var(--ds-text-accent-red);
  background: var(--ds-background-accent-red-subtler);
  -webkit-text-fill-color: var(--ds-text-accent-red);
}

.medium {
  color: var(--ds-text-accent-orange);
  background: var(--ds-background-accent-orange-subtler);
  -webkit-text-fill-color: var(--ds-text-accent-orange);
}

.low {
  color: var(--ds-text-accent-yellow);
  background: var(--ds-background-accent-yellow-subtler);
  -webkit-text-fill-color: var(--ds-text-accent-yellow);
}

.none {
  color: var(--ds-text-subtlest);
  -webkit-text-fill-color: var(--ds-text-subtlest);
}
