.group-details {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ds-space-075, 6px);
}

.group-details .stacktrace-container {
  flex-basis: 100%;
  margin: 0;
}

#stuck-threads-page .group-details button {
  font-variant-numeric: tabular-nums;
}
