#consumers-list {
  padding: 0;
  white-space: pre;
  list-style-type: none;
}
#consumers-list h6 {
  margin-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cpu-usage:hover {
  cursor: pointer;
  color: #0052CC;
  text-decoration: underline;
}
