.consumers-list {
  padding: 0;
  white-space: pre;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.consumers-list h6 {
  width: 100%;
  margin-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cpu-usage {
  cursor: pointer;
}
.cpu-usage:hover {
  color: #0052CC;
  text-decoration: underline;
}
