#consumers-list {
  padding: 0;
  list-style: none;
}

#consumers-list button {
  width: 52px;
  border-radius: 3px;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 99%;
  text-align: center;
  margin-top: 3px;
  padding: 3px;
}

.no-click {
  color: #172B4D;
  -webkit-text-fill-color: #172B4D;
  pointer-events: none;
}

.high {
  background: #FFEBE6;
  color: #BF2600;
  -webkit-text-fill-color: #BF2600;
}
.medium {
  background: #FFF0B3;
  color: #42526E;
  -webkit-text-fill-color: #42526E;
}
.low {
  background: #DEEBFF;
  color: #0747A6;
  -webkit-text-fill-color: #0747A6;
}
.none {
  color: #172B4D;
  -webkit-text-fill-color: #172B4D;
}
