#consumers-list {
  padding: 0;
  white-space: pre;
  list-style: none;
}

.lozenge {
  width: 52px;
  color: #172B4D;
  border-radius: 3px;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 99%;
  text-align: center;
  margin: 5px 3px 0;
  padding: 3px;
}
.high {
  background: #FFEBE6;
  color: #BF2600;
}
.medium {
  background: #FFF0B3;
  color: #42526E;
}
.low {
  background: #DEEBFF;
  color: #0747A6;
}
