.consumers-list {
  padding: 0;
  white-space: pre;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cpu-usage {
  cursor: pointer;
}
.cpu-usage:hover {
  color: #0052CC;
}
