#cpu-consumers-settings {
  margin: 0;
  padding: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cpu-consumers-mode input {
  margin-left: 14px;
  margin-right: 4px;
}

#cpu-consumers-limit input {
  margin-left: 40px;
}
