#cpu-consumers-page {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 24px;
}

#cpu-consumers-settings {
  height: 80px;
  display: flex;
  align-items: center;
}

#cpu-consumers-limit input {
  margin-left: 3em;
}

#consumers-list {
  padding: 0;
  white-space: pre;
  list-style: none;
}
#consumers-list h6 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cpu-usage:hover {
  cursor: pointer;
  color: #172B4D;
  text-decoration: underline;
}
.high {
  color: #BF2600;
}
.mid {
  color: #403294;
}
.low {
  color: #008DA6;
}
.vlow {
  color: #006644;
}
