#memory-usages {
  display: flex;
  width: 100%;
  min-height: 300px;
}

#memory-usages > div {
  width: 50%;
  text-align: center;
}

.chart {
  width: 100%;
  text-align: center;
}

/* Vertical spacing around chart titles */
.summary-page h3 {
  padding-top: 28px; /* padding as Atlassian CSS reset has a very specific rule that overwrites margin-top to 0 */
  margin-bottom: 8px;
}

.smart-tooltip ol, .smart-tooltip ul {
  padding: 0 32px;
  text-align: left;
}
