.summary-memory-charts {
  display: flex;
  width: 100%;
  min-height: 300px;
}

.summary-memory-charts > div {
  width: 50%;
  text-align: center;
}

.chart {
  width: 100%;
  text-align: center;
}

.summary-page h3 {
  padding-top: 28px;
  margin-bottom: 8px;
}

.smart-tooltip ol,
.smart-tooltip ul {
  padding: 0 32px;
  text-align: left;
}
