#memory-usages {
  display: flex;
  width: 100%;
  min-height: 300px;
}

#memory-usages > div {
  width: 50%;
  text-align: center;
}

.chart {
  width: 100%;
  text-align: center;
}

.tooltip {
  max-width: 640px;
  margin: 0;
  padding: 0 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
}
