.filters label {
  margin-left: 8px;
  padding: 7px 10px;
  color: var(--color-b400);
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 3px;
}

.filters label:hover {
  color: var(--color-b300);
  border: 1px solid var(--color-n40);
}

.filters .checked {
  color: var(--color-n0);
  background: var(--color-n700);
}

.filters .checked:hover {
  color: var(--color-n900);
  background: var(--color-n40);
  border: 1px solid transparent;
}

.filters input {
  display: none;
}
