.monitors-container {
  display: flex;
}

.monitor-summary,
.monitor-details {
  max-width: 100%;
  padding-left: var(--ds-space-075, 6px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.monitor-summary {
  width: 360px;
  min-width: 360px;
}
