#monitors-page {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#monitors-settings {
  height: 80px;
  display: flex;
  align-items: center;
}

.monitors-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.monitors-container div {
  padding: 5px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.monitors-container .left {
  width: 360px;
}
