.monitors-container {
  display: flex;
  width: 100%;
}

.monitors-container div {
  overflow: hidden;
  max-width: 100%;
  padding-left: var(--ds-space-075, 6px);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.monitors-container .left {
  width: 360px;
  min-width: 360px;
}

.waiting-list {
  margin: var(--ds-space-100, 8px) 0;
}

.waiting-list-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: var(--ds-space-075, 6px) 0;
  gap: var(--ds-space-050, 4px);
  list-style: none;
}
