nav {
  width: 0;
  background: #f4f5f7;
  transition: all 0.5s ease;
}
nav.open {
  width: 250px;
}

#nav-content-bottom {
  width: 0;
  bottom: 0;
  position: fixed;
}

#brand-visible {
  color: #0052CC;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 40px;
  padding: 12px 40px 0;
  transform: scale(1);
  transition: all 0.5s ease;
}
#brand-hidden {
  transform: scale(0);
  transition: all 0.5s ease;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 24px;
}
nav li {
  transform: scale(0);
  transition: all 0.5s ease;
}
nav.open li {
  width: 210px;
  font-size: 14px;
  line-height: 36px;
  padding-left: 40px;
  transform: scale(1);
}
nav.open li:hover {
  cursor: pointer;
  color: #0052CC;
  background: #EBECF0;
}
