header {
  /* important needed due to atlassian css reset overwriting display to block */
  display: flex !important;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  min-height: 56px;
  font-weight: var(--ds-font-weight-bold);
  background: var(--ds-surface-raised);
  box-shadow: var(--ds-shadow-overflow);
}

.header-section {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

header h1 {
  color: var(--ds-text-brand);
  font-size: 29px;
}

header nav {
  display: inline-flex;
  align-items: center;
  min-height: 56px;
}

header ul {
  display: inline-flex;
  align-items: center;
  min-height: 56px;
  overflow: hidden;
}

header a {
  display: inline-flex;
  align-items: center;
  min-height: 56px;
}

header a.active {
  box-sizing: border-box;
  padding-top: 3px;
  background: var(--ds-background-accent-blue-subtlest);
  border-bottom: 3px solid var(--ds-link);
}

header a:hover,
header button:hover {
  text-decoration: none;
}

header li {
  margin: 0 4px;
  padding: 0 6px;
  overflow: hidden;
  color: var(--ds-text-subtle);
  line-height: 32px;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 3px;
  -webkit-text-fill-color: var(--ds-text-subtle);
}

header li:hover {
  background: var(--ds-background-accent-gray-subtlest-hovered);
}

header a.active li:hover {
  color: var(--ds-link);
  -webkit-text-fill-color: var(--ds-link);
  background: var(--ds-background-accent-blue-subtlest-hovered);
}
