#similar-stacks-page {
  width: 90%;
  margin: 0 auto;
}

#similar-stacks-settings {
  height: 80px;
  display: flex;
  align-items: center;
}

#similar-stacks-settings label {
  margin-right: 3em;
}

#similar-stacks-page ul {
  font-size: 13px;
  line-height: 17px;
  margin: 0;
  list-style: none;
}

#similar-stacks-page ol {
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
}
