.stacktrace {
  width: 100%;
  font-family: 'SFMono-Medium', 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', 'Ubuntu Mono', Menlo, Consolas, Courier, monospace;
  font-size: 12px;
  line-height: 16px;
  padding: 0;
  margin: 0;
}
.stacktrace li {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
