.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 10px 9999fr;
  grid-template-rows: auto;
  justify-items: start;
  transition-delay: 1s;
}

.open {
  grid-template-columns: 300px 10px auto;
  transition-delay: 1s;
}
