main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  animation: fadein 400ms;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.full-width-page {
  width: 100%;
}

#settings {
  min-height: 80px;
  display: flex;
  align-items: center;
}

#settings input {
  margin-left: 3em;
}

#error {
  height: 100%;
  align-items: center;
  justify-content: center;
}
