#flame-graph {
  margin-top: var(--ds-space-200, 16px);
}

#flame-graph svg {
  display: block;
  margin: auto;
}

#flame-graph [data-flame-frame],
#flame-graph [data-flame-ancestor] {
  cursor: pointer;
}

#flame-graph rect {
  fill-opacity: 1;
  stroke: none;
}

#flame-graph [data-flame-frame]:hover rect,
#flame-graph [data-flame-ancestor]:hover rect {
  fill-opacity: 0.65;
}

#flame-graph text {
  font: var(--ds-font-code);
  fill: var(--ds-text-code-default);
}
