svg div {
  cursor: pointer;
}

#flame-graph {
  margin-top: var(--ds-space-200, 16px);
}

#flame-graph svg {
  display: block;
  margin: auto;
}

.d3-flame-graph .fade {
  opacity: 1 !important;
}

.d3-flame-graph rect {
  fill-opacity: 1;
  stroke: none;
}

.d3-flame-graph rect:hover {
  fill-opacity: 0.65;
  stroke: none;
}

.d3-flame-graph-label {
  color: var(--ds-text) !important;
  font-size: var(--ds-font-size-075);
  font-family: var(--ds-font-family-monospace);
  fill: currentcolor;
  dominant-baseline: middle;
}
