.theme-switcher {
  display: flex;
  gap: var(--ds-space-100);
  align-items: center;
  padding-right: var(--ds-space-200);
}

.theme-label {
  color: var(--ds-text-subtle);
  font-weight: var(--ds-font-weight-bold);
}
