.paginated-collection-actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--ds-space-050);
}

.paginated-collection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--ds-space-200);
}
