#dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#dropzone h4 {
  width: 600px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: var(--color-n20);
  border: 2px dashed var(--color-b400);
  border-radius: 5px;
}

#dropzone-guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#dropzone-links {
  margin: 0;
  padding: 0;
}

#dropzone-links li {
  display: inline-block;
  margin: 0 6px;
  padding: 4px;
}
