/* https://atlassian.design/foundations/color */
:root {
  /* Primary pallette: B400, N800, N0 */

  /* Neutrals */
  --color-n900: #091e42;
  --color-n800: #172b4d;
  --color-n700: #253858;
  --color-n600: #344563;
  --color-n500: #42526e;
  --color-n400: #505f79;
  --color-n300: #5e6c84;
  --color-n200: #6b778c;
  --color-n100: #7a869a;
  --color-n40: #dfe1e6;
  --color-n30: #ebecf0;
  --color-n20: #f4f5f7;
  --color-n10: #fafbfc;
  --color-n0: #fff;

  /* Red */
  --color-r500: #bf2600;
  --color-r50: #ffebe6;

  /* Yellow */
  --color-y75: #fff0b3;
  --color-y50: #fffae6;

  /* Green */
  --color-g500: #064;
  --color-g50: #e3fcef;

  /* Blue */
  --color-b500: #0747a6;
  --color-b400: #0052cc;
  --color-b300: #0065ff;
  --color-b100: #4c9aff;
  --color-b50: #deebff;

  /* Purple */
  --color-p400: #5243aa;
  --color-p50: #eae6ff;
}

html,
body {
  height: 100%;
}

/* https://atlassian.design/guidelines/product/foundations/typography */
body {
  margin: 0;
  color: var(--color-n800);
  font-weight: 400;
  font-size: 14px;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 20px;
  letter-spacing: -0.005em;
  background: var(--color-n0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Text size h900 */
h1 {
  font-weight: 500;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: -0.01em;
}

/* Text size h800 */
h2 {
  margin-top: 40px;
  font-weight: 500;
  font-size: 29px;
  line-height: 32px;
  letter-spacing: -0.01em;
}

/* Text size h600 */
h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.008em;
}

/* Text size h400 */
h5 {
  margin-top: 16px;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.003em;
}

a {
  color: var(--color-b400);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  color: var(--color-b400);
  all: unset;
  -webkit-text-fill-color: var(--color-b400);
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

input {
  box-sizing: border-box;
  margin: 0 4px 0 0;
  padding: 3px 4px;
  font-size: inherit;
  vertical-align: baseline;
  background-color: var(--color-n10);
  border: 2px solid var(--color-n40);
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

input[type="number"],
input[type="text"] {
  height: 2.1429em;
  line-height: 1.4286;
}

input[type="number"] {
  width: 5em;
}

input:hover {
  background-color: var(--color-n30);
  border-color: var(--color-n40);
}

input:focus {
  background-color: var(--color-n0);
  border-color: var(--color-b100);
  outline: none;
}

.chevron {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  color: var(--color-n600);
  background: rgba(9 30 66 / 8%) url("chevron.svg") no-repeat top left;
  border-radius: 3.01px;
  transition: background-color 0.1s ease-out;
}

.rotate {
  transform: rotate(-90deg);
}

.clickable {
  cursor: pointer;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
