:root {
  --watson-navigation-height: 56px;
}

html,
body {
  height: 100%;
}

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

.default-color {
  color: var(--ds-text);
  -webkit-text-fill-color: var(--ds-text);
}

