#progress-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

.progress-indicator {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: min(100%, 600px);
  padding: var(--ds-space-300, 24px);
  color: var(--ds-text, #292a2e);
  background: var(--ds-surface-overlay, #fff);
  border: 1px solid var(--ds-border, #dfe1e6);
  border-radius: var(--ds-radius-xlarge, 12px);
  box-shadow: var(--ds-shadow-overlay, 0 8px 12px #1e1f2126);
}

.progress-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.progress-percentage {
  min-width: 42px;
  font-size: 16px;
  font-weight: var(--ds-font-weight-bold);
  color: var(--ds-background-accent-blue-bolder);
  text-align: right;
}

.progress-details {
  height: 80px;
  min-height: 80px;
  margin-top: var(--ds-space-250, 20px);
  font-size: 14px;
  color: var(--ds-text-subtlest);
}

.progress-file {
  margin-bottom: var(--ds-space-100, 8px);
  font-weight: var(--ds-font-weight-medium);
  color: var(--ds-text-subtle);
}

.progress-file-name {
  max-width: 100%;
  margin-bottom: var(--ds-space-100, 8px);
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: var(--ds-font-weight-semibold);
  color: var(--ds-text-subtlest);
  white-space: nowrap;
}

.progress-lines {
  line-height: 16px;
  white-space: pre;
}
