.progress-indicator {
  display: flex;
  flex-direction: column;
}

.progress-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.progress-percentage {
  min-width: 42px;
  font-size: 16px;
  font-weight: var(--ds-font-weight-bold);
  color: var(--ds-background-accent-blue-bolder);
  text-align: right;
}

.progress-details {
  height: 80px;
  min-height: 80px;
  margin-top: var(--ds-space-250, 20px);
  font-size: 14px;
  color: var(--ds-text-subtlest);
}

.progress-file {
  margin-bottom: var(--ds-space-100, 8px);
  font-weight: var(--ds-font-weight-medium);
  color: var(--ds-text-subtle);
}

.progress-file-name {
  max-width: 100%;
  margin-bottom: var(--ds-space-100, 8px);
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: var(--ds-font-weight-semibold);
  color: var(--ds-text-subtlest);
  white-space: nowrap;
}

.progress-lines {
  line-height: 16px;
  white-space: pre;
}
